.bg {
    position: absolute;
    z-index: -1;
    left: -10px;
    top: -10px;
    bottom: -10px;
    right: -10px;
    background: url();
    filter: blur(4px);
}
html,body,section{
    height: 100%;
    overflow: hidden;
}